<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vdian.flutter.hybridrouterexample">
    <!--
     The INTERNET permission is required for development. Specifically,
         flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FlutterDemoApp"
        android:icon="@mipmap/ic_launcher"
        android:label="hybrid_router_example"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".TabExampleActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NativeExampleActivity">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="hybridstackmanager" />
                <data android:path="/example" />
                <data android:scheme="native" />
            </intent-filter>
        </activity>


        <activity
            android:name=".FirstActivity"
            android:theme="@style/TranslucentTheme">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="hybridstackmanager" />
                <data android:path="/first" />
                <data android:scheme="native" />
            </intent-filter>

        </activity>

        <activity android:name=".SecondActivity"></activity>


        <activity
            android:name=".FlutterExampleActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>