<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.vdian.flutter.hybridrouter">
    <application>
        <activity android:name=".page.FlutterWrapActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>
    </application>
</manifest>
